@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

nav {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline; 
}

p {
    font-size: 18px;
    color: #555;
    text-align: center;
}

table {
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table th, table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #333;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

button.edit-btn, button.delete-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.edit-btn:hover, button.delete-btn:hover {
    background-color: #0056b3;
}

button.delete-btn {
    background-color: #dc3545;
}

button.delete-btn:hover {
    background-color: #c82333;
}
